{% extends "base.twig" %}
{% block content %}

<div style="float: right;width: 50%">Директору ГАПОУ КО «КТК» А.В.Никитину<br/>
    от
    <u>{{ fio_p }}</u><br/>
    Адрес по прописке <u>{% for address in КонтактнаяИнформация %}
            {% if address.Тип == 'Адрес' %}
                {% if address.LineNumber == 1 %}
                    {{ address.Представление }}
                {% endif %}
            {% endif %}
        {% endfor %}</u><br/>
    <u>{% for phone in КонтактнаяИнформация %}
            {% if phone.НомерТелефона %}
                {{ phone.Представление }}
                <br />
            {% endif %}
        {% endfor %}</u>
</div>
<div style="clear: both"></div><br/>
<br/>
<br/>
<p align="center"><b>ЗАЯВЛЕНИЕ</b></p>
<p>
Прошу предоставить мне
    <u>{{ fio_d }}</u>
    место в общежитии
    на {{ data_start }} - {{ data_end }} учебный год в связи с тем, что <u>{% if Льгота %}имею следующую льготу {{ Льгота }}{% else %}являюсь иногородним{% endif %}</u>.
</p>
<p>Законный представитель
    <u>{{ parent.ФИО }}</u>
    ({{ parent.МобильныйТелефон }})
</p>
<p>
    В случае отказа от предоставленного места в общежитии обязуюсь в течение
    3-х рабочих дней уведомить коменданта общежития.
</p>

<br/>
<br/>
<br/>
<div align="right">____ "__________" 20___ г. ____________ / _____________________</div>
<div align="right" style="font-size: 8px">(подпись)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(расшифровка
    подписи)
</div>
{% endblock %}