{% extends 'base.twig' %}
{% block title %}Цифры приема{% endblock %}
{% block content %}
<style>
    .table-primary {
        --bs-table-bg: #e1cfff;
        --bs-table-border-color: #cfbae6;
        --bs-table-striped-bg: #dfc5f2;
        --bs-table-active-bg: #cdbae6;
        --bs-table-hover-bg: #d0bfec;
    }
</style>
<div class="container">
    {% set i = 1 %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for company in companies %}
            <li class="nav-item" role="presentation">
                <button class="nav-link{% if i == 1 %} active{% endif %}" id="tab{{ company.Code }}"
                        data-bs-toggle="tab" data-bs-target="#tabpanel{{ company.Code }}" type="button" role="tab"
                        aria-controls="tabpanel{{ company.Code }}"
                        aria-selected="true">{{ company.Description }}</button>
            </li>
            {% set i = i  + 1 %}
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        <br />
        {% set i = 1 %}
        {% for company in companies %}
        <div class="tab-pane fade{% if i == 1 %} show active{% endif %}" id="tabpanel{{ company.Code }}"
             role="tabpanel" aria-labelledby="tab{{ company.Code }}" tabindex="0">

            <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary text-center">
                    <tr>
                        <th style="vertical-align: middle" rowspan="2">№</th>
                        <th style="vertical-align: middle" rowspan="2">Наименование специальности/профессии</th>
                        <th style="vertical-align: middle" colspan="3">Количество поданных заявлений</th>
                        <th style="vertical-align: middle" rowspan="2">Контрольные цифры приема</th>
                    </tr>
                    <tr>
                        <th>Оригиналов</th>
                        <th>Копий</th>
                        <th>Итог</th>
                    </tr>
                </thead>
                <tbody>
                    {% set planCount = 1 %}
                    {% set countPlan = 0 %}
                    {% set j = 1 %}
                    {% for planPriem in company.ПланПриема %}
                        {% if planPriem.ПрограммаОбучения.БазовоеОбразование == 'ОсновноеОбщее' %}
                            {% if j == 1 %}
                                <tr>
                                    <th class="table-primary text-center" colspan="6">На базе 9 классов (Очное обучение)</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="text-center">{{ planCount }}</th>
                                <td>{{ planPriem.ПрограммаОбучения.Специальность.Code }} "{{ planPriem.ПрограммаОбучения.Специальность.Description }}"
                                    {% for qualification in planPriem.ПрограммаОбучения.Квалификации %}
                                    ({{ qualification.Description }})
                                    {% endfor %}</td>
                                <td class="text-center">{{ planPriem.ПрограммаОбучения.КолВоОригиналов }}</td>
                                <td class="text-center">{{ planPriem.ПрограммаОбучения.КолВоКопий }}</td>
                                <th class="text-center">{{ planPriem.ПрограммаОбучения.ИтогоЗаявлений }}</th>
                                <th class="text-center">{{ planPriem.Данные[0].План }}</th>
                            </tr>
                            {% set planCount = planCount + 1 %}
                        {% set countPlan = countPlan + planPriem.Данные[0].План %}
                        {% set j = j + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if j != 1 %}
                    <tr class="table-primary">
                        <th style="text-align: right" colspan="2">Итого:</th>
                        <th class="text-center">{{ company.ВсегоПосле9клОриг }}</th>
                        <th class="text-center">{{ company.ВсегоПосле9клКоп }}</th>
                        <th class="text-center">{{ company.ВсегоПосле9клОриг + company.ВсегоПосле9клКоп }}</th>
                        <th class="text-center">{{ countPlan }}</th>
                    </tr>
                    {% endif %}
                    {% set countPlan2 = 0 %}
                    {% set j = 1 %}
                    {% for planPriem in company.ПланПриема %}
                        {% if planPriem.ПрограммаОбучения.БазовоеОбразование != 'ОсновноеОбщее' %}
                        {% if j == 1 %}
                        <tr>
                            <th class="table-primary text-center" colspan="6">На базе 11 классов (Очное обучение)</th>
                        </tr>
                        {% endif %}
                            <tr>
                                <th class="text-center">{{ planCount }}</th>
                                <td>{{ planPriem.ПрограммаОбучения.Специальность.Code }} "{{ planPriem.ПрограммаОбучения.Специальность.Description }}"
                                    {% for qualification in planPriem.ПрограммаОбучения.Квалификации %}
                                    ({{ qualification.Description }})
                                    {% endfor %}</td>
                                <td class="text-center">{{ planPriem.ПрограммаОбучения.КолВоОригиналов }}</td>
                                <td class="text-center">{{ planPriem.ПрограммаОбучения.КолВоКопий }}</td>
                                <th class="text-center">{{ planPriem.ПрограммаОбучения.ИтогоЗаявлений }}</th>
                                <th class="text-center">{{ planPriem.Данные[0].План }}</th>
                            </tr>
                            {% set planCount = planCount + 1 %}
                            {% set countPlan2 = countPlan2 + planPriem.Данные[0].План %}
                            {% set j = j + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if j != 1 %}
                    <tr class="table-primary">
                        <th style="text-align: right" colspan="2">Итого:</th>
                        <th class="text-center">{{ company.ВсегоПосле11клОриг }}</th>
                        <th class="text-center">{{ company.ВсегоПосле11клКоп }}</th>
                        <th class="text-center">{{ company.ВсегоПосле11клОриг + company.ВсегоПосле11клКоп }}</th>
                        <th class="text-center">{{ countPlan2 }}</th>
                    </tr>
                    {% endif %}
                    <tr class="table-primary">
                        <th style="text-align: right" colspan="2">Итого поданных заявлений:</th>
                        <th class="text-center">{{ company.ВсегоПолученоЗаявленийОриг }}</th>
                        <th class="text-center">{{ company.ВсегоПолученоЗаявленийКоп }}</th>
                        <th class="text-center">{{ company.ВсегоПолученоЗаявленийИтог }}</th>
                        <th class="text-center">{{ countPlan + countPlan2 }}</th>
                    </tr>
                </tbody>
            </table>

        </div>
        {% set i = i  + 1 %}
    </div>
    {% endfor %}
</div>
{% endblock %}